* {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

body {
  background: url("./img/fondo.png");
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 0px;
}

.cont-sup {
  width: 100%;
  height: 100px;
  background: #eb5269;
  display: flex;
}

.img-register {
  margin: 10px;
  position: relative;
  top: 10px;
  left: 10%;
}

h1 {
  width: fit-content;
  height: fit-content;
  font-family: "Hanalei", cursive;
  font-weight: 400;
  font-size: 55px;
  color: #000000;
  margin: 10px;
  position: relative;
  left: 10%;
}

.cont-D-log {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont-log {
  width: 90%;
  height: 350px;
  border-radius: 30px;
  margin: 40px;
  padding: 20px;
  box-shadow: 20px 20px 20px rgba(58, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.744);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-log h2 {
  color: aliceblue;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Signika Negative", sans-serif;
}

input {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  font-family: "Gothic A1", sans-serif;
}

.cont-log span {
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
  color: rgb(250, 250, 250);
  margin-top: 20px;
}

.cont-registrar {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
}

.cont-registrar p {
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
  margin: 10px;
}

.cont-registrar span {
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
  color: rgb(69, 69, 205);
  margin: 10px;
}

footer {
  background: #eb5269;
  width: 100%;
  position: fixed;
  top: 97.5%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: "Signika Negative", sans-serif;
}

.cont-descargas {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
}


.cont-phone{
  display: none;
}


@media screen and (max-width: 360px) {
  #root {
    position: absolute;
    padding: 0px;
    border: 0px;
    width: 400px;
  }

  .cont-sup {
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    background: #eb5269;
    display: flex;
  }

  .img-register {
    margin: 10px;
    position: relative;
    top: 5px;
    left: 10%;
  }

  h1 {
    width: fit-content;
    height: fit-content;
    font-family: "Hanalei", cursive;
    font-weight: 400;
    font-size: 45px;
    color: #000000;
    margin: 10px;
    position: relative;
    left: 50px;
  }
}

@media screen and (max-width: 450px) {
  .cont-sup {
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 100px;
    background: #eb5269;
    display: flex;
  }

  .img-register {
    margin: 10px;
    position: relative;
    top: 5px;
    left: 10%;
  }

  h1 {
    width: fit-content;
    height: fit-content;
    font-family: "Hanalei", cursive;
    font-weight: 400;
    font-size: 45px;
    color: #000000;
    margin: 10px;
    position: relative;
    left: 10%;
  }

  .cont-phone {
    display: none;
  }
}

@media screen and (max-height:750px){

  .cont-registrar {
      position: relative;
      top: 20px;
      display: flex;
      justify-content: center;
    }

    .cont-descargas {
      position: relative;
      top: 50px;
      display: flex;
      justify-content: center;
    }

    .cont-phone {
      display: none;
    }
}

@media screen and (min-width: 800px){

  .img-register{
      margin: 10px;
      position: relative;
      top: 10px;
      left: 30%;
  }
  
  h1{
      width: fit-content;
      height: fit-content;
      font-family: 'Hanalei', cursive;
      font-weight: 400;
      font-size: 55px;
      color: #000000;
      margin: 10px;
      position: relative;
      left: 30%;
  }


}

@media screen and (min-width: 858px) {
  .cont-sup {
    background: #eb5269;
    width: 100%;
    align-items: center;
  }

  h1 {
    position: relative;
    top: 0%;
    left: 25%;
    font-size: 80px;
  }

  .cont-sup img {
    position: relative;
    top: 0%;
    left: 25%;
    width: 80px;
    height: 80px;
  }

  .cont-phone {
    display: initial;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 500px;
    height: 600px;
  }

  .cont-phone img {
    margin-top: 20px;
    padding: 10px;
  }

  .cont-D-log {
    width: 400px;
    position: relative;
    top: 50px;
    left: 20%;
  }

  .cont-registrar {
    position: relative;
    top: 100px;
  }

  .cont-registrar p {
    font-size: 20px;
    margin: 10px;
  }

  .cont-registrar span {
    font-size: 20px;
    margin: 10px;
  }

  .cont-descargas {
    position: relative;
    top: 120px;
  }

  footer {
    background: #eb5269;
    width: 100%;
    position: fixed;
    top: 97.5%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "Signika Negative", sans-serif;
  }
}

@media screen and (min-width: 1000px) {
  .cont-phone {
    display: initial;
    position: absolute;
    top: 100px;
    left: 150px;
    width: 500px;
    height: 600px;
  }
}

@media screen and (min-width: 1300px) {
  .cont-phone {
    display: initial;
    position: absolute;
    top: 100px;
    left: 350px;
    width: 500px;
    height: 600px;
  }

  h1 {
    position: relative;
    top: 0%;
    left: 35%;
    font-size: 80px;
  }

  .cont-sup img {
    position: relative;
    top: 0%;
    left: 35%;
    width: 80px;
    height: 80px;
  }
}
