@media screen and (max-width: 768px) {
  .cont-phone {
    visibility: collapse;
    display: none;
   
  }

  .cont-img-sesion {
    width: fit-content;
    position: relative;
    display: flex;
    left: 50%;
    transform: translate(-50%);
  }
}
